<header class="navbar" id="navbar" data-adjust-navbar-padding-target="navbar">
  <div class="navbar__container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="navbar__nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Log in", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
